.folderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--secondary-color);
  border-radius: 0.25em;
}

.folder > svg {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  color: rgb(235, 216, 192);
}

.folder:hover {
  border-color: black;
}

.folder:hover > svg {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}
