.fileContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.fileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em;
  border: 2px solid var(--secondary-color);
  border-radius: 0.25em;
}

.fileCard:hover {
  border-color: black;
}

.fileCard > a > p {
  text-align: center;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file > img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid var(--secondary-color);
}

.fileCard:hover .file > img {
  border-color: black;
}
