.fileContainer {
  display: flex;
  gap: 0.25em;
}

.fileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em;
  border: 1px solid black;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file > svg {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}

.file_buttons {
  display: flex;
  gap: 0.25em;
}

.file_buttons > button {
  cursor: pointer;
}
