.folderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  position: relative;
  height: 100%;
}

.folderCard {
  border: 2px solid var(--secondary-color);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.folderCard > button {
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  padding: 0.25em;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  display: flex;
}

.folderCard > button:hover {
  background-color: red;
  border-color: black;
}

.folderCard > button,
.invalidFolderCard > button {
  max-width: 25px;
}

.folderCard > button > svg,
.invalidFolderCard > button > svg {
  width: 100%;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folderIcon {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  color: rgb(235, 216, 192);
}

.folderCard:hover {
  border-color: black;
}

.folderCard > a:hover .folderIcon {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.folderModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 0.25em;
  padding-bottom: 0.25em;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.folderModal > button {
  padding: 0.25em;
  cursor: pointer;
}

.folderModal > button:hover {
  background-color: red;
}

.folderModal > button:first-of-type {
  align-self: flex-end;
  border: none;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  max-width: 25px;
  display: flex;
}

.folderModal > button:first-of-type > svg {
  width: 100%;
}

.folderModal > button:last-of-type {
  border: 2px solid black;
}

.invalidFolderCard {
  border: 2px solid var(--secondary-color);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.invalidFolderCard > button {
  width: fit-content;
  align-self: flex-end;
  border: none;
  padding: 0.25em;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  display: flex;
}
