.fileContainer {
  display: flex;
  gap: 0.25em;
}

.fileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em;
  border: 1px solid black;
}

.fileCard:hover {
  background-color: black;
  color: white;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file > img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
}

.file_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.file_buttons > svg {
  cursor: pointer;
  width: 30px;
}

.file_buttons > svg:first-of-type:hover {
  color: green;
}
.file_buttons > svg:last-of-type:hover {
  color: red;
}
