.formContainer {
  display: flex;
  gap: 0.25em;
}

.formContainer > img {
  width: 49%;
  height: fit-content;
}

.uploadFileForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.25em;
}

.uploadFileForm > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25em;
}

.uploading {
  width: 10%;
  height: 10%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
