.formContainer {
  display: flex;
  gap: 0.25em;
}

.formContainer > img {
  width: 50%;
}

.uploadFileForm {
  display: flex;
  flex-direction: column;
  width: 49%;
  gap: 0.25em;
}

.uploadFileForm > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25em;
}
